body {
  margin: 0;
}
.top_mypage {
  margin: auto;
  width: 1440px;
  height: 460px;
  background: #eff0ff;
}

.mypage_text {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 54px;
  text-align: center;
  padding-top: 100px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mypage_profile {
  margin-top: 1px;
  margin-left: 681px;
}

.mypage_text2 {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin-left: -110px;
  color: rgba(35, 23, 115, 1);
}

.mypage_text3 {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin-left: 100px;
  margin-top: -54px;
  color: rgba(84, 84, 84, 1);
}

.mypage_detail {
  margin-left: 610px;
}

.bottom_mypage {
  margin: auto;
  width: 1440px;
  height: 460px;
  background: white;
}

.mypage_img {
  margin-top: 10px;
  margin-left: 290px;
}

.footer {
  margin: auto;
  width: 1440px;
  height: 50px;
  background-color: #e3e3e3;
}

.footer_text {
  padding-top: 10px;
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 7px;
  color: #747474;
  text-align: center;
}

.footer_img {
  margin-top: -6px;
  margin-left: 690px;
}
