<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
  </head>

  <body>
    <div class="full">
      <div class="main_logo">
        <img src="img/img3.jpg" style="width: 50%" />
      </div>

      <div class="id_text">
        <p>아이디</p>
      </div>

      <input type="text" value="" class="id_box" />
      <div class="id_img">
        <img src="img/img13.jpg" />
      </div>

      <div class="password_text">
        <p>비밀번호</p>
      </div>

      <input type="text" value="" class="password_box" />
      <div class="password_img">
        <img src="img/img14.jpg" />
      </div>

      <input type="checkbox" class="check" />
      <p class="login_text">로그인 상태 유지</p>
      <a href="map.html" style="text-decoration: none">
        <button class="box_login">로그인</button>
      </a>

      <a href="signup.html" style="text-decoration: none">
        <p class="signup_text">회원가입</p>
      </a>

      <p class="password_id">비밀번호/아이디어 찾기</p>
    </div>
  </body>
</html>
