<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mypage.css" />
  </head>

  <body>
    <div class="top_mypage">
      <p class="mypage_text">마이페이지</p>
      <img src="img/img24.jpg" class="mypage_profile" style="width: 5%" ; />
      <p class="mypage_text2">dvvuny</p>
      <p class="mypage_text3">님 반갑습니다.</p>
      <img src="img/img25.jpg" class="mypage_detail" style="width: 15%" ; />
    </div>

    <div class="bottom_mypage">
      <img src="img/img26.jpg" class="mypage_img" style="width: 60%" ; />
    </div>

    <div class="footer">
      <div class="footer_text">
        <p>이용약관 | 고객센터 | 리뷰운영정책 | 신고센터</p>
      </div>
      <div class="footer_img">
        <img src="img/img3.png" />
      </div>
    </div>
  </body>
</html>
