<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reviewinfo.css">
</head>

<body>
    <div class="full">

        <div class="img">
            <img src="img/img11.jpg"><img src="img/img12.jpg">
        </div>

        <div class="main">
            <h5 class="name"></h5>

            <div class="detail">
                <div class="detail_01">
                    <img src="img/img10.jpg" style="width:180%";/>
                </div>
                <div class="detail_02">
                    <p>방문자 리뷰 (23)</p>
                </div>
            </div>

            <div class="icon">
                <img src="img/img9.jpg"style="width:35%";/>
            </div>

            <div class="address">
                <div class="address_detail">
                    <img src="img/img8.jpg"style="width:130%";/>
                </div>
            </div>

            <div class="time">
                <div class="time_detail">
                    <img src="img/img7.jpg"style="width:140%";/>
                </div>
            </div>

            <hr class="light_line">

            <div class="revise">
                <div class="revise_detail">
                    <img src="img/img6.jpg"style="width:140%";/>
                </div>
                <div class="revise_detail2">
                    <p>잘못된 정보 수정</p>
                </div>
            </div>

            <hr class="thick_line">

           <div class="review">
            <div class="visitor_review">
                <p>방문자 리뷰</p>
            </div>

            <div class="register">
                <a href="review.html" style=" text-decoration: none;">
                    <div class="register_img">
                        <img src="img/img5.jpg">
                    </div>
                    <div class="register_text">
                        <p>나도 참여</p>
                    </div>

                </a>

            <div class="rectangle">
                <img src="img/img17.jpg" style="width:90%;">
            </div>

            <div class="rectangle2">
                <img src="img/img18.jpg" style="width:90%;">
            </div>

        </div>
        <hr class="thin_line2">

        <img src="img/img19.jpg" class="profile" style="width:8%";>
    </div>
    

        <div class="footer">
            <div class="footer_text">
                <p>이용약관 | 고객센터 | 리뷰운영정책 | 신고센터</p>
            </div>
            <div class="footer_img">
                <img src="img/img3.png">
            </div>
        </div>

        
    
</body>
</html>