<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup.css" />
  </head>

  <body>
    <div class="full">
      <div class="main_logo">
        <img src="img/img3.jpg" style="width: 50%" />
      </div>

      <div class="id_text">
        <p>아이디</p>
      </div>

      <input type="text" value="" class="id_box" />
      <div class="id_img">
        <img src="img/img13.jpg" />
      </div>

      <div class="password_text">
        <p>비밀번호</p>
      </div>

      <input type="text" value="" class="password_box" />
      <div class="password_img">
        <img src="img/img14.jpg" />
      </div>

      <div class="password_text2">
        <p>비밀번호 확인</p>
      </div>

      <input type="text" value="" class="password_box2" />
      <div class="password_img2">
        <img src="img/img15.jpg" style="width: 20%" ; />
      </div>

      <div class="name_text">
        <p>이름</p>
      </div>
      <input type="text" value="" class="name_box" />
      <a href="login.html">
        <button class="box_signup" style="color: white">회원가입</button>
      </a>
    </div>
  </body>
</html>
